<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Anime Genres</title>
</head>

<body>

    <main>
        <div>
            <h2>Anime Genres:</h2>
            <ul>
                <% for(let gen of an_genre){ %>
                    <li>
                        <%=gen%>
                    </li>
                    <%}%>
            </ul>
        </div>
    </main>

</body>

</html>