<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>

    <main>
        <div>
            <h2>Anime World</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima, natus nam. Rem placeat sed assumenda
                reiciendis nisi vitae, quidem mollitia expedita facere laboriosam consequatur voluptas unde corrupti
                ratione cumque eum?</p>
        </div>
    </main>

</body>

</html>